#**
 *  Paging and Statistics at bottom of results
 *#

## Usually rendered in pagination div tag

#if($response.response.get('grouped'))
  ## pass
#else

  <span>
    <span class="results-found">$number.format('#,##0',$page.results_found)</span>
    resultados encontrados.
  </span>

  #link_to_previous_page("anterior")

  P&aacute;gina <span class="page-num">$page.current_page_number</span>
    de <span class="page-count">$number.format('#,##0',$page.page_count)</span>

  #link_to_next_page("pr&oacute;xima")

#end
<br/>
